body {
background-image: url("skin.jpg");
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #FFDAE5;
  background-image: url("seeds.jpg");
  text-align: center;
}
h2 {
  color: #FFDAE5;
  background-image: url("seeds.jpg");
  text-align: center;
}
p {
  font-family: verdana;
  background-image: url("seeds.jpg");
  font-size: 20px;
  text-align: center;
  color: #9BFF99
}

main {
  background-image: url("seeds.jpg");
  color: red;
  text-align: center;
}


tbody {
  background-color: #2F0000;
  text-align: center;
  table-layout: fixed;
}
title{
  color: #FFDAE5;

}
footer{
  color: #FFDAE5;
}
