body {
background-image: url("skin.jpg");
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-left: 450px;
  margin-right:450px;
  border-color: red;
}

h1 {
  color: #FFDAE5;
  background-image: url("seeds.jpg");
  text-align: center;
  margin-left: 380px;
  margin-right: 380px;
}
h2 {
  color: #FFDAE5;
  background-image: url("seeds.jpg");
  text-align: center;
  margin-left: 350px;
  margin-right: 350px;
}
p {
  font-family: verdana;
  background-image: url("seeds.jpg");
  font-size: 20px;
  text-align: center;
  color: lime;
}

main {
  background-image: url("seeds.jpg");
  color: red;
  text-align: center;

}

tbody {
  background-color: #2F0000;
  text-align: center;
  margin: 0 auto;
}
title{
  color: #FFDAE5;

}
footer{
  color: #FFDAE5;
}
thead tc:nth-child(even){
  color: green;
}
a:link{
  color: green;
}
a:visited{
  color: #FFDAE5;
}
a:hover{
  color: green;
}
