body {
background-image: url("skin.jpg");
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-left: 450px;
  margin-right:450px;
  border-color: red;
}

h1 {
  color: white;
  background-image: url("seeds.jpg");
  text-align: center;
  margin-left: 380px;
  margin-right: 380px;
}
h2 {
  color: white;
  background-image: url("seeds.jpg");
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
}
p {
  font-family: verdana;
  background-image: url("seeds.jpg");
  font-size: 20px;
  text-align: center;
  color: lime;
}

main {
  background-image: url("seeds.jpg");
  color: red;
  text-align: center;

}

tbody {
  background-color: #2F0000;
  text-align: center;
  margin: 0 auto;
}
title{
  color: white;

}
footer{
  color: lime;
}
thead tc:nth-child(even){
  color: green;
}
a:link{
  color: green;
}
a:visited{
  color: white;
}
a:hover{
  color: green;
}
.navbar-default{
  background-image: url("seeds.jpg");
  border-color: red;
  text-emphasis-color: white;
}
li.active > a {
  color: green;
  background-color: green;

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: lime;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: lime;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand {
  color: lime;
}

element {
  color: lime;
}
